# submodules used by www.asisaga.com
# changes would be pushed to the respective repositories

[submodule "common.asisaga.com"]
	path = common.asisaga.com
	url = https://github.com/ASISaga/common.asisaga.com