<footer class="footer-section">
  <div class="footer-section__current">
    <a href="#top">Scroll to top</a>
  </div>
  <div class="footer-section__bottom">
    <div class="footer-section__container">
      <div class="footer-section__row">
        <div class="footer-section__col">
          <p class="footer-section__copyright">&copy; 2025 ASI Saga. All rights reserved.</p>
        </div>
        <div class="footer-section__col">
          <p class="footer-section__social">Follow us on 
            <a href="#" class="footer-section__link">LinkedIn</a> |
            <a href="#" class="footer-section__link">Twitter</a> |
            <a href="{{ site.github.owner_url }}" class="footer-section__link">GitHub</a>
          </p>
        </div>
        <div class="footer-section__col">
          <a href="/sitemap/" class="footer-section__link">Sitemap</a>
        </div>
      </div>
    </div>
  </div>
</footer>
