<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<!-- This line includes a custom Google Analytics setup file. 
     The file 'head-custom-google-analytics.html' should contain the necessary code to integrate Google Analytics. -->

<header class="container-fluid">
    <!-- The header element with a Bootstrap class 'container-fluid' for a full-width container -->

    
    <!-- div class="row align-items-end" -->
        <!-- A Bootstrap row with 'align-items-end' to vertically align the content to the bottom -->

        <!-- div id="titleblock" class="col-12 col-md-3"-->
            <!-- A div with Bootstrap classes 'col-12' and 'col-md-3' for a column that spans 12 out of 12 columns on small screens
              and 3 out of 12 columns on medium and larger screens -->

            
            <!-- a id="home" href="{{ site.github.owner_url }}" class="text-decoration-none link-light" -->
                <!-- A link to the GitHub owner's URL with a class 'avatar' -->

                <!-- div class="d-flex align-items-center"-->
                    <!-- img src="{{ site.github.owner_gravatar_url }}" width="48" height="48" class="avatar" alt="Avatar"-->
                    <!-- An image tag displaying the GitHub owner's Gravatar image. 
                         The 'width' and 'height' attributes set the size of the image. -->

                <!-- /div -->
            <!-- /a-->
        <!-- /div -->
    <!-- /div -->

        <!-- Navbar -->
        <div id="navbar" class="col-12 col-md-9 d-flex justify-content-start">
            <!-- A div with Bootstrap classes 'col-12' and 'col-md-9' for a column that spans 12 out of 12 columns on small screens and 9 out of 12 columns on medium and larger screens -->
            <!-- The 'd-flex' class makes the div a flex container, and 'justify-content-start' aligns the content to the start (left) -->
            <!-- Include the Navigation Bar -->
            {% include navbar.html %}
            <!-- This line includes the navigation bar from 'navbar.html'. 
                 The 'navbar.html' file should contain the code for the site's navigation bar. -->
        </div>
    </div>
</header>

<!-- end custom head snippets -->
<!-- This comment indicates the end of the custom head snippets section -->