<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<header class="site-header">
  <nav class="site-header__navbar">
    <a class="site-header__brand" href="/">
      <div class="site-header__titlebar">
        <div class="site-header__logo-col">
          <img src="{{ '/assets/images/favicon.ico' | relative_url }}" class="site-header__logo-img" alt="ASI Saga">
        </div>
        <div class="site-header__title-col">
          <h1 id="title" class="site-header__title">{{ site.title | default: site.github.repository_name }}</h1>
        </div>
      </div>
      <div class="site-header__tagline-row">
        <div class="site-header__tagline-col">
          <p id="tagline" class="site-header__tagline">{{ site.description | default: site.github.project_tagline }}</p>
        </div>
      </div>
    </a>
    <button id="nav-menu-mobile" class="site-header__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="site-header__toggler-icon"></span>
    </button>
    <div id="nav-menu" class="site-header__nav">
      {% include navbar.html %}
    </div>
  </nav>
</header>