<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

    <header>

        <!-- You can set your favicon here -->
        <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico'  | relative_url }}">

        <h1 class="title"><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a>{{ site.title | default: site.github.repository_name }}</h1>
      
        <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>

        {% include navbar.html %}
        
    </header>




<!-- end custom head snippets -->
