<div class="navbar-main">
    <div class="navbar-main__collapse" id="navbarNav">
        <ul class="navbar-main__nav">
            {% for nav in site.data.nav %}
                {% if nav.subcategories != null %}
                    <li class="navbar-main__item navbar-main__item--dropdown">
                        <a class="navbar-main__link navbar-main__link--dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ site.url }}{{ nav.url }}">
                            {{ nav.title }}
                        </a>
                        <ul class="navbar-main__dropdown-menu">
                            {% for subcategory in nav.subcategories %}
                                <li>
                                    <a class="navbar-main__dropdown-item" href="{{ site.url }}{{ subcategory.url }}">
                                        {{ subcategory.title }}
                                    </a>
                                </li>
                                {% if forloop.last == false %}
                                    <li class="navbar-main__dropdown-divider"></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% elsif nav.title == page.title %}
                    <li class="navbar-main__item navbar-main__item--active">
                        <a class="navbar-main__link" href="{{ nav.url }}">
                            {{ nav.title }}
                        </a>
                    </li>
                {% else %}
                    <li class="navbar-main__item">
                        <a class="navbar-main__link" href="{{ site.url }}{{ nav.url }}">
                            {{ nav.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
