<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% for nav in site.data.nav %}
            {% if nav.subcategories != null %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ site.url }}{{ nav.url }}">
                        {{ nav.title }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for subcategory in nav.subcategories %}
                            <li>
                                <a class="dropdown-item" href="{{ site.url }}{{ subcategory.url }}">
                                    {{ subcategory.title }}
                                </a>
                            </li>
                            {% if forloop.last == false %}
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% elsif nav.title == page.title %}
                <li class="nav-item active">
                    <a class="nav-link text-light" href="{{ nav.url }}">
                        {{ nav.title }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ site.url }}{{ nav.url }}">
                        {{ nav.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
