<div class="col-md-5 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <img src="{{ site.data.products[include.product].image }}" alt="{{ site.data.products[include.product].title }}" class="card-img-top mb-3 img-fluid object-fit-contain h-auto">
            <h4 class="card-title">{{ site.data.products[include.product].title }}</h4>
            <p class="summary">{{ site.data.products[include.product].summary }}</p>
            <a href="{{ site.data.products[include.product].url }}" id="{{ site.data.products[include.product].id }}" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>