<div class="col-md-5 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <img src="{{ include.product.image }}" alt="{{ include.product.title }}" class="card-img-top mb-3 img-fluid object-fit-contain h-auto">
            <h4 class="card-title">{{ include.product.title }}</h4>
            <p class="summary">{{ include.product.summary }}</p>
            <a href="{{ include.product.url }}" id="{{ include.product.id }}" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>