// Base layout styles for overall site structure

.site-main {
  @extend .w-100;
  @extend .min-vh-50; // Custom utility for min-height
  @extend .py-3;      // Bootstrap padding for 1rem top/bottom

  .site-content {
    // Assuming a container that spans full width up to 1320px, similar to .container-xl
    // If a full-width fluid container is needed, .container-fluid would be more appropriate.
    @extend .container-xl; 
  }
}