// REQUIRED: Genesis Ontology System imported in common.scss in theme.asisaga.com
// This provides the complete semantic design system via mixins

// Pages - Page-specific semantic mappings
// Each page maps HTML classes to ontological roles using mixins
@import "pages/index";
@import "pages/home";
@import "pages/about";
@import "pages/contact-page";
@import "pages/sitemap";