// Contact page - Communication and connection interface
// Uses focused environment for form interaction and clear information hierarchy

.contact {
  &-page {
    @include genesis-environment('focused');
  }
  
  &-main-section {
    .contact-intro {
      @include genesis-cognition('discourse');
    }
  }
  
  &-form {
    &-container {
      @include genesis-entity('primary');
    }
  }
  
  &-connect {
    &-container {
      @include genesis-entity('secondary');
    }
  }
  
  // Social icons - social connection points
  .social-icons {
    .social-icon {
      @include genesis-synapse('social');
    }
  }
  
  // Newsletter signup
  .newsletter-signup {
    .newsletter-note {
      @include genesis-cognition('gloss');
    }
  }
  
  // Contact information
  .contact-info {
    &-item {
      .contact-info-link {
        @include genesis-synapse('navigate');
      }
    }
  }
  
  // Google Map
  &-map-section {
    .map-container {
      @include genesis-entity('secondary');
    }
  }
}
