// Product Benefits List Component Styles
// Corresponds to product-benefits-list.html include

.product-benefits-section {
  @extend .py-5;
  
  &.product-section-light {
    @extend .bg-light;
  }
  
  .product-list-container {
    @extend .container;
    
    .product-list {
      @extend .list-unstyled;
      @extend .my-4;
      
      .product-list-item {
        @extend .p-3;
        @extend .mb-3;
        @extend .rounded;
        background-color: rgba(var(--color-light-rgb), 0.5);
        border-left: 4px solid var(--color-primary);
        
        .product-list-highlight {
          @extend .fw-bold;
          color: var(--color-primary);
        }
      }
    }
  }
}
